@import "tailwindcss";

@font-face {
    font-family: 'avenir';
    src: url("../media/font/avenir.woff2") format("woff2");
}

@font-face {
    font-family: 'futura';
    src: url("../media/font/futura.woff2") format("woff2");
}

@font-face {
    font-family: 'helvetica';
    src: url("../media/font/helvetica.woff2") format("woff2");
}

@theme {
    --font-avenir: 'avenir';
    --font-futura: 'futura';
    --font-helvetica: 'helvetica';

    --animate-fadeinL: 'fadeinL' 2s;
    --animate-fadeinR: 'fadeinR' 2s;
    --animate--blur: 'blur' 2s;
}

@keyframes fadeinL {
  0% { transform: translateX(-50px); }
  100% { transform: translateX(0); }
}

@keyframes fadeinR {
  0% { transform: translateX(+50px); }
  100% { transform: translateX(0); }
}

@keyframes blur {
  0% { filter: blur(8px ); }
  100% { filter: blur(0px); }
}

