@import "tailwindcss";

@font-face {
    font-family: 'avenir';
    src: url("../media/font/avenir.woff2") format("woff2");
}

@font-face {
    font-family: 'futura';
    src: url("../media/font/futura.woff2") format("woff2");
}

@font-face {
    font-family: 'helvetica';
    src: url("../media/font/helvetica.woff2") format("woff2");
}

@theme {
    --font-avenir: 'avenir';
    --font-futura: 'futura';
    --font-helvetica: 'helvetica';
}