<aside class="inline">
    <nav>
        <ul class="flex flex-col justify-center p-2 gap-2 relative left-14">
            <li><a class="hover:text-white active:opacity-50" href="index.html">Home</a></li>
            <li><a class="hover:text-white active:opacity-50" href="gallery.html" data-i18n="gallery">Gallerie</a></li>
            <li><a class="hover:text-white active:opacity-50" href="appointments.html" data-i18n="appointments">Termine</a></li>
            <li><a class="hover:text-white active:opacity-50" href="#footer" data-i18n="book">Buchen</a></li>
        </ul>
    </nav>
</aside>