<footer>
    <div class="grid grid-cols-2 head-footer bg-white mt-2">
        
        <div class="imprint bg-slate-300 flex flex-col items-end gap-2 py-8 px-4 text-white text-shadow-md font-avenir">
            <h2 class="text-2xl mb-2">Bleiben wir in Kontakt!</h2>
            <a class="hover:opacity-30 active:bg-black" id="footer-tel" href="tel:+1234567890"></a>
            <a id="footer-email"></a>
            <a id="facebook-link" class="w-10 hover:opacity-30 active:bg-black" href=""><img src="media/svg/facebook-svgrepo-com.svg"></a>
        </div>

        <div class="contact-form">

            <div class="bg-slate-300 w-full h-10"></div>

            <form id="target" class="flex flex-col justify-center gap-4 w-70 py-4 px-6 font-avenir">

                <div>
                    <label for="name">Name</label>
                    <input class="border w-full" type="text" name="name" id="name" autocomplete="on">
                </div>

                <div class="">
                    <label for="email">Email*</label>
                    <input class="border w-full" type="text" name="email" id="email" required autocomplete="on">
                </div>

                <div>
                    <label for="tel">Telefonnummer</label>
                    <input class="border w-full" type="text" name="tel" id="tel" autocomplete="on">
                </div>

                <div class="flex flex-col">
                    <label for="message">Nachricht</label>
                    <textarea class="border w-full" name="message" id="message"></textarea>
                </div>

                <div class="">
                    <button class="bg-slate-500 w-full text-white shadow-md h-10">Absenden</button>
                </div>
            </form>
        </div>
    </div>
    <div class="tail-footer flex flex-col justify-center items-center mb-4 font-avenir">
        <img class="p-2" src="media/logo/MALINKA logo 149x59.png">
        <p class="p-2">&#169; 2025</p>
        <a class="hover:bg-slate-300 active:opacity-50 p-2" href="imprint.html">Impressum</a>
    </div>
</footer>