<footer>
    <div class="grid grid-cols-2 gap-6 head-footer bg-white h-80">
        <div class="imprint bg-slate-300 flex flex-col items-end gap-2 py-8 px-4 text-white text-shadow-md">
            <h2 class="text-2xl mb-2">Bleiben wir in Kontakt!</h2>
            <a class="hover:opacity-30 active:bg-black" id="footer-tel" href="tel:+1234567890"></a>
            <a id="footer-email"></a>
            <a id="facebook-link" class="w-10 hover:opacity-30 active:bg-black" href=""><img src="media/svg/facebook-svgrepo-com.svg"></a>
        </div>

        <div class="contact-form">
            <form>
                <h2>form</h2>
                <input>
            </form>
        </div>
    </div>
    <div class="tail-footer flex flex-col justify-center items-center">
        <img src="media/logo/MALINKA logo 149x59.png">
        <p>&#169; 2025</p>
    </div>
</footer>