<header class="flex justify-between items-center gap-6 dark:bg-slate-600">

    <div id="logo">
        <a href="index.html">
            <img src="media/logo/MALINKA logo 149x59.png">
        </a>
    </div>

    <button id="sidebar-toggle">
        <img class="hover:bg-slate-300 active:border-2 active:border-white w-12 dark:bg-slate-400" src="media/svg/hamburger-menu-svgrepo-com.svg">
    </button>

    <nav class="gap-6 hidden">
        <ul class="flex items-center gap-5">
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html">Gallerie</a></li>
            <li><a href="appointments.html">Termine</a></li>
            <li><a href="#footer">Buchen</a></li>
        </ul>
    </nav>

    <div class="flex flex-col p-2 text-white font-avenir bg-slate-400 dark:!bg-slate-800">
        <button class="hover:text-slate-300 active:text-black" href="" id="lang">En</button>
        <button class="hover:text-slate-300 active:text-black" id="mode">Dark</button>
    </div>

</header>
<div id="aside" class="bg-slate-400 flex justify-center items-center font-avenir"></div>