<header class="flex justify-between items-center gap-6 dark:bg-slate-600 h-16 w-full">

    <div id="logo">
        <a href="index.html">
            <img src="media/logo/MALINKA logo 149x59.png">
        </a>
    </div>

    <button id="sidebar-toggle" class="md:hidden ">
        <img class="hover:bg-slate-300 active:border-2 active:border-white w-12 dark:bg-slate-400" src="media/svg/hamburger-menu-svgrepo-com.svg">
    </button>

    <ul class="hidden md:flex justify-center h-full font-avenir dark:text-white">
        <li><a class="flex justify-center items-center h-full w-20 hover:bg-slate-300 active:text-white dark:active:text-black" href="index.html">Home</a></li>
        <li><a class="flex justify-center items-center h-full w-20 hover:bg-slate-300 active:text-white dark:active:text-black" href="gallery.html" data-i18n="gallery">Gallerie</a></li>
        <li><a class="flex justify-center items-center h-full w-20 hover:bg-slate-300 active:text-white dark:active:text-black" href="appointments.html" data-i18n="appointments">Termine</a></li>
        <li><a class="flex justify-center items-center h-full w-20 hover:bg-slate-300 active:text-white dark:active:text-black" href="#footer" data-i18n="book">Buchen</a></li>
    </ul>

    <div class="flex flex-col text-white h-full font-avenir bg-slate-400 dark:!bg-slate-800">
        <button class="flex justify-center items-center px-2 h-full w-full hover:text-slate-300 active:text-black dark:hover:bg-slate-500 dark:active:text-black" id="lang">En</button>
        <button class="flex justify-center items-center px-2 h-full w-full hover:text-slate-300 active:text-black dark:hover:bg-slate-500 dark:active:text-black" id="mode">Dark</button>
    </div>

</header>
<div id="aside" class="bg-slate-400 flex justify-center items-center font-avenir"></div>